<a href="https://colab.research.google.com/github/w2j1y12/pdm17/blob/main/py-pandas/pandas_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series
- DataFrame

### Series
> 1차원 데이터

In [4]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you'])
s
# np.nan은 리터럴 값 - 특정한 상수??뭐뭐뭐 다시 찾아보기
# 파이썬은 타입 여러 개 같이 쓸 수 있음

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [6]:
type(s)

pandas.core.series.Series

In [9]:
# s.info()
# series는 info x

In [10]:
# indexing & slicing of series
s[0],s[:3],s[-1:]

# 결과값이 이상하게 나옴

(1, 0    1
 1    3
 2    5
 dtype: object, 6    you
 dtype: object)

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [11]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates
# 20210927부터 6일
# 데이터 프레임이면 뭐 쉐입 뭐 해서 타입 확인

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [14]:
# Make dataframe using an array with random numbers
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))

df

# index=dates 없으면 index는 0부터 n까지 숫자로
# index=dates 있으면 위에서 만든 6일이 index로 출력

                   A         B         C         D
2021-09-27 -0.632948  0.884652 -0.209918 -0.984468
2021-09-28  0.842339  0.609501  0.501932 -1.404546
2021-09-29  1.936240 -0.466490 -1.412290  0.099833
2021-09-30  2.563362  0.826831  0.952373  0.058213
2021-10-01 -1.056179 -2.146001 -0.333087 -1.018143
2021-10-02 -0.720094 -1.070359  0.515398  0.176214

In [15]:
# check types of df  --> same type
df.dtypes

# type x dtype o 
# 열의 데이터타입을 출력

A    float64
B    float64
C    float64
D    float64
dtype: object

In [16]:
type(df)

pandas.core.frame.DataFrame

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [17]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20191129'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

# {}중괄호 딕셔너리
# 자연스럽게 값 1개만 있는 애들도 값이 4개 생김

In [18]:
df2

     A          B    C  D      E    F
0  1.0 2019-11-29  1.0  3   test  foo
1  1.0 2019-11-29  1.0  3  train  foo
2  1.0 2019-11-29  1.0  3   test  foo
3  1.0 2019-11-29  1.0  3  train  foo

In [19]:
# check types of df2 --> different types
df2.dtypes

# 실수/ 데이터 타입/ 실수/ 정수/ 카테고리 데이터/ 객체구조
# -> 이렇게 타입이 다 섞여있어서 df2의 dtype은 객체구조

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
type(df2)

pandas.core.frame.DataFrame



---