<a href="https://colab.research.google.com/github/w2j1y12/pdm17/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head() # 상단 행만 출력
# default = 5

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523

In [9]:
df.head(2)

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034

In [10]:
df.tail(3) # 아래부분

                   A         B         C         D
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523
2021-10-02  0.254639 -0.469830  0.263443  0.017610

In [11]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.info()
# 데이터 프레임은 4개의 변수로, columns은  Non-Null = 값이 다 있는 것(0도 값임)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [14]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.233978  0.267470  0.474718  0.185152
std    0.488184  1.184955  0.958890  1.120559
min   -0.485335 -0.931592 -0.772073 -1.119034
25%   -0.023427 -0.372470 -0.272321 -0.337329
50%    0.233524 -0.051355  0.566162  0.040645
75%    0.608266  0.506127  1.275071  0.315753
max    0.798053  2.426678  1.528496  2.204523

In [15]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.233978  0.488184 -0.485335 -0.023427  0.233524  0.608266  0.798053
B    6.0  0.267470  1.184955 -0.931592 -0.372470 -0.051355  0.506127  2.426678
C    6.0  0.474718  0.958890 -0.772073 -0.272321  0.566162  1.275071  1.528496
D    6.0  0.185152  1.120559 -1.119034 -0.337329  0.040645  0.315753  2.204523

In [17]:
df

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523
2021-10-02  0.254639 -0.469830  0.263443  0.017610

In [16]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -0.102040   -0.485335    0.726142    0.798053    0.212409    0.254639
B    2.426678   -0.931592    0.682277   -0.022322   -0.080389   -0.469830
C    1.410468   -0.772073    0.868881    1.528496   -0.450908    0.263443
D    0.063679   -1.119034   -0.455642    0.399777    2.204523    0.017610

In [18]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [25]:
# Sorting by an axis:
df, df.sort_index(axis=0, ascending=False)

# ascending default = True
# ascending 내림차순으로 정렬하는 거인듯?
# ascending=False 하니까 역순으로 제일 근래의 값부터 나옴

(                   A         B         C         D
 2021-09-27 -0.102040  2.426678  1.410468  0.063679
 2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
 2021-09-29  0.726142  0.682277  0.868881 -0.455642
 2021-09-30  0.798053 -0.022322  1.528496  0.399777
 2021-10-01  0.212409 -0.080389 -0.450908  2.204523
 2021-10-02  0.254639 -0.469830  0.263443  0.017610,
                    A         B         C         D
 2021-10-02  0.254639 -0.469830  0.263443  0.017610
 2021-10-01  0.212409 -0.080389 -0.450908  2.204523
 2021-09-30  0.798053 -0.022322  1.528496  0.399777
 2021-09-29  0.726142  0.682277  0.868881 -0.455642
 2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
 2021-09-27 -0.102040  2.426678  1.410468  0.063679)

In [24]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27 -0.102040  2.426678  1.410468  0.063679
 2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
 2021-09-29  0.726142  0.682277  0.868881 -0.455642
 2021-09-30  0.798053 -0.022322  1.528496  0.399777
 2021-10-01  0.212409 -0.080389 -0.450908  2.204523
 2021-10-02  0.254639 -0.469830  0.263443  0.017610,
                    D         C         B         A
 2021-09-27  0.063679  1.410468  2.426678 -0.102040
 2021-09-28 -1.119034 -0.772073 -0.931592 -0.485335
 2021-09-29 -0.455642  0.868881  0.682277  0.726142
 2021-09-30  0.399777  1.528496 -0.022322  0.798053
 2021-10-01  2.204523 -0.450908 -0.080389  0.212409
 2021-10-02  0.017610  0.263443 -0.469830  0.254639)

#### Sort by value
- sort_values(by='column')

In [26]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

# B열을 기준으로 재정렬

(                   A         B         C         D
 2021-09-27 -0.102040  2.426678  1.410468  0.063679
 2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
 2021-09-29  0.726142  0.682277  0.868881 -0.455642
 2021-09-30  0.798053 -0.022322  1.528496  0.399777
 2021-10-01  0.212409 -0.080389 -0.450908  2.204523
 2021-10-02  0.254639 -0.469830  0.263443  0.017610,
                    A         B         C         D
 2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
 2021-10-02  0.254639 -0.469830  0.263443  0.017610
 2021-10-01  0.212409 -0.080389 -0.450908  2.204523
 2021-09-30  0.798053 -0.022322  1.528496  0.399777
 2021-09-29  0.726142  0.682277  0.868881 -0.455642
 2021-09-27 -0.102040  2.426678  1.410468  0.063679)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [27]:
# Selecting a single column, which yields a Series
df['A']

# A의 인덱스(날짜)와 값이 나옴

2021-09-27   -0.102040
2021-09-28   -0.485335
2021-09-29    0.726142
2021-09-30    0.798053
2021-10-01    0.212409
2021-10-02    0.254639
Freq: D, Name: A, dtype: float64

In [28]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642

In [33]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523

#### Selecting data by label [중요!!]

> **loc, iloc**

In [29]:
df

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523
2021-10-02  0.254639 -0.469830  0.263443  0.017610

In [34]:
df.loc[dates[0]]   # loc()

A   -0.102040
B    2.426678
C    1.410468
D    0.063679
Name: 2021-09-27 00:00:00, dtype: float64

In [35]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

# 동시에 할 거면 리스트로

                   A         B
2021-09-27 -0.102040  2.426678
2021-09-28 -0.485335 -0.931592
2021-09-29  0.726142  0.682277
2021-09-30  0.798053 -0.022322
2021-10-01  0.212409 -0.080389
2021-10-02  0.254639 -0.469830

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [40]:
# df.loc[0:2,['C','D']]
# loc 함수를 쓸 때에는 정수 인덱스로 지정 x
# df.loc['20210927':'20210928',['C','D']]
# value index o
df.loc[dates[:2],['C','D']]

# loc은 []대괄호 사용

# 중간고사 필기 시험 출제 value index 기억

                   C         D
2021-09-27  1.410468  0.063679
2021-09-28 -0.772073 -1.119034

#### Selecting data by position (iloc())
- index 사용

In [41]:
df

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523
2021-10-02  0.254639 -0.469830  0.263443  0.017610

In [42]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.
# 4행의 값들이 축소돼서 출력

A    0.798053
B   -0.022322
C    1.528496
D    0.399777
Name: 2021-09-30 00:00:00, dtype: float64

In [43]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

# 중요

                   C         D
2021-09-27  1.410468  0.063679
2021-09-28 -0.772073 -1.119034

In [44]:
# Select one item
df.iloc[1,1]

-0.9315919456697471

In [48]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]
# df[:3,:]

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642

#### Selecting data by Boolean indexing

In [49]:
df

                   A         B         C         D
2021-09-27 -0.102040  2.426678  1.410468  0.063679
2021-09-28 -0.485335 -0.931592 -0.772073 -1.119034
2021-09-29  0.726142  0.682277  0.868881 -0.455642
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523
2021-10-02  0.254639 -0.469830  0.263443  0.017610

In [50]:
df[df.A > 0]

                   A         B         C         D
2021-09-29  0.726142  0.682277  0.868881 -0.455642
2021-09-30  0.798053 -0.022322  1.528496  0.399777
2021-10-01  0.212409 -0.080389 -0.450908  2.204523
2021-10-02  0.254639 -0.469830  0.263443  0.017610

In [51]:
df[df > 0]

# True는 True의 값이 False는 NoN값이 출력

                   A         B         C         D
2021-09-27       NaN  2.426678  1.410468  0.063679
2021-09-28       NaN       NaN       NaN       NaN
2021-09-29  0.726142  0.682277  0.868881       NaN
2021-09-30  0.798053       NaN  1.528496  0.399777
2021-10-01  0.212409       NaN       NaN  2.204523
2021-10-02  0.254639       NaN  0.263443  0.017610