<a href="https://colab.research.google.com/github/w2j1y12/pdm17/blob/main/numpy/numpy_2_array2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# numpy
## concatenate()를 이용한 배열 결합
> [numpy 배열 합치기, concatenate 함수](https://m.blog.naver.com/PostView.nhn?blogId=qbxlvnf11&logNo=221490583222&categoryNo=0&proxyReferer=https%3A%2F%2Fwww.google.com%2F)

-> 큰 데이터를 합치고, ~~~

In [1]:
import numpy as np

In [2]:
ar1 = np.array(range(1,5)).reshape(2,2)
ar1

array([[1, 2],
       [3, 4]])

In [3]:
ar1.shape

# shape로 모양을 먼저 확인하는 버릇

(2, 2)

In [5]:
np.array(range(5, 11)) # -> 1차원 array

array([ 5,  6,  7,  8,  9, 10])

In [6]:
ar2 = np.array(range(5,11)).reshape(2,3)  
# np.array(range(5,11)).reshape(-1,3)
# reshape(-1,n) -> n에 맞춰서 알아서 만들어줌
ar2

array([[ 5,  6,  7],
       [ 8,  9, 10]])

In [7]:
ar2.shape  # 2 X 3 array

(2, 3)

In [10]:
print(ar1)
print(ar2)

[[1 2]
 [3 4]]
[[ 5  6  7]
 [ 8  9 10]]

---

## concatenate()를 이용한 배열 합치기

- concatenate(array1, array2, axis = 0)
- concatenate(array1, array2, axis = 1)
- concatenate(array1, array2, axis = None)

In [11]:
np.concatenate((ar1,ar1), axis=0)

# 튜플로() 원하는 배열을 묶어줘야함
# 행 단위로 출력됨

array([[1, 2],
       [3, 4],
       [1, 2],
       [3, 4]])

In [13]:
np.concatenate((ar1,ar1,ar1), axis=0)

array([[1, 2],
       [3, 4],
       [1, 2],
       [3, 4],
       [1, 2],
       [3, 4]])

In [14]:
np.concatenate((ar1,ar1), axis=1)

# axis =1 -> 가로로 확장 -> 배열 모양이 바뀜

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [15]:
np.concatenate((ar1,ar1), axis=None)

array([1, 2, 3, 4, 1, 2, 3, 4])

### ar2에 대하여도 배열합치기를 해보시오.

In [20]:
# Your code here!

# 1 세로로 확장
print(np.concatenate((ar2, ar2), axis=0))

# 2 가로로 확장
print(np.concatenate((ar2, ar2), axis=1))

# 3
print(np.concatenate((ar2, ar2), axis=None))

[[ 5  6  7]
 [ 8  9 10]
 [ 5  6  7]
 [ 8  9 10]]
[[ 5  6  7  5  6  7]
 [ 8  9 10  8  9 10]]
[ 5  6  7  8  9 10  5  6  7  8  9 10]

### Error in concatenation

In [21]:
np.concatenate((ar1,ar2), axis=0)

# ar1이랑 ar2 구조가 달라 오류
# 따라서 합칠 배열의 구조가 같아야함

ValueError: ignored

> ar1의 열의 갯수 == ar2의 열의 갯수

In [22]:
ar1.shape, ar2.shape
# 구조를 확인하고

((2, 2), (2, 3))

In [23]:
ar2.T.shape
# 전치행렬 -> ar2.shape = (3,2)

(3, 2)

In [24]:
np.concatenate((ar1,ar2.T), axis=0)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  8],
       [ 6,  9],
       [ 7, 10]])

### concatenate(array1, array2, axis = 1)

In [25]:
np.concatenate((ar1,ar2), axis=1)

array([[ 1,  2,  5,  6,  7],
       [ 3,  4,  8,  9, 10]])



---



---

## [복습] numpy 배열 연산: broadcasting
> [파이썬 Numpy 라이브러리 (5) Broadcasting|작성자 예비개발자](https://blog.naver.com/qbxlvnf11/221509303462)

In [26]:
a = np.array([1.0, 2.0, 3.0])
b = np.array([2.0, 2.0, 2.0])
a * b   # elementwise multiplication

# 배열을 곱하면 배열의 요소끼리 곱해짐
# [출처] 파이썬 Numpy 라이브러리 (5) Broadcasting|작성자 예비개발자

array([2., 4., 6.])

In [27]:
a = np.array([1.0, 2.0, 3.0])
b = 2.0
a * b   # broadcasted multiplication

# 스칼라 값을 곱하면 배열의 요소 * 스칼라 값

array([2., 4., 6.])

> 차원이 다른 두 개의 피연산자를 산술 연산할 때는 원래 연산이 불가능합니다.
하지만, 연산이 가능하도록 배열 b가 브로드캐스팅이 되어 numpy array ([2.0, 2.0, 2.0])으로 확장됩니다.

### 2차원 broadcasting

In [28]:
a = np.array([[ 0.0,  0.0,  0.0],
              [10.0, 10.0, 10.0],
              [20.0, 20.0, 20.0],
              [30.0, 30.0, 30.0]])

b = np.array([1.0, 2.0, 3.0])

a + b

array([[ 1.,  2.,  3.],
       [11., 12., 13.],
       [21., 22., 23.],
       [31., 32., 33.]])

In [29]:
(a+b).shape

(4, 3)

In [31]:
from numpy import array, newaxis
a = array([0.0, 10.0, 20.0, 30.0])
b = array([1.0, 2.0, 3.0])
# c = a + b
# 구조가 달라서 에러
c = a[:,newaxis] + b
# a[:, newaxis] -> (4,1) 열벡터가 됨
c

array([[ 1.,  2.,  3.],
       [11., 12., 13.],
       [21., 22., 23.],
       [31., 32., 33.]])

In [32]:
c.shape

(4, 3)

## numpy statistics
> [numpy: 기술 통계](https://datascienceschool.net/01%20python/03.04%20%EA%B8%B0%EC%88%A0%20%ED%86%B5%EA%B3%84.html)
- min(), max()
- mean(), median(), var(), std()

In [38]:
# a = np.array(list(range(1,10)))
a = np.arange(1,10)
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
# np.min, np.max
a.min(), a.max()

(1, 9)

In [40]:
# array.min(), array.max()
np.min(a), np.max(a)

(1, 9)

In [44]:
# mean() and median()
a.mean(), np.median(a)

# mean은 되는데 median은 오류뜸
# median은 np로 호출해서 매개변수를 넣어줘야함

(5.0, 5.0)

In [46]:
# var(), std()
a.var(), a.std()
# 분산과 표준편차

(6.666666666666667, 2.581988897471611)

In [49]:
np.var(a), np.std(a)

(6.666666666666667, 2.581988897471611)

## 2차원 배열의 기술 통계
- axis = 0
- axis = 1

In [50]:
d2arr = np.arange(1,10).reshape(-1,3)
d2arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [51]:
d2arr.max()

9

In [52]:
d2arr.max(axis=0)
# 각 열에서 제일 큰 요소 출력

array([7, 8, 9])

In [53]:
d2arr.max(axis=1)
# 각 행에서 제일 큰 요소 출력

array([3, 6, 9])

In [56]:
print(d2arr.min(axis=None))
print(d2arr.min(axis=0))
print(d2arr.min(axis=1))

1
[1 2 3]
[1 4 7]

## [DIY: 도전과제]
- axis = None, 1, 2 에 따른 평균을 구하시오.

In [55]:
# Your code here!

# 1) axis=None -> 전체 요소의 평균
print(d2arr.mean(axis=None))

# 2) axis=0 ->각 열의 평균
print(d2arr.mean(axis=0))

# 3) axis=1 -> 각 행의 평균
print(d2arr.mean(axis=1))

5.0
[4. 5. 6.]
[2. 5. 8.]